.footer p
{
    font-size:0.8em;
    text-align:right;
    padding-right:2%;
}

#menuList
{
    width:40%;
    left:60%;
    top:85%;
    display:none;
    position:absolute;
    z-index:9999;
}

#mainContent
{
    color:black;
    
}

.pageConent
{
     Background-color:#ffffff; 
}